body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 40px;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  text-align: center;
  font-size: 18px;
}
button {
  padding: 10px 20px;
  font-size:16px;
  cursor: pointer;
  margin-top: 20px;
}
#btn {
  display: block;
  margin: 30px auto;
}
