body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 40px;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  text-align: center;
  font-size: 18px;
}
button {
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: orange;
  color: white;
  transition: all 0.3s ease;
}

/* ustiga borganda */
button:hover {
  background: darkorange;
  transform: scale(1.05);
}

/* bosilganda */
button:active {
  transform: scale(0.95);
}
#btn {
  display: block;
  margin: 30px auto;
}
